<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (title !== 'All the TA Records')  { %>
      <div class="container" style="width:80%">
        <div class="row">
          <form class="container">
            <div class="form-row">
              <div class="form-group col-md-6 form-picker">
                <label for="datepicker-start" style="font-size: 20px">Start</label>
                <input id="datepicker-start" value="<%= dateTime.date.start %>" readonly />
                <input id="timepicker-start" value="<%= dateTime.time.start %>" style="margin-top: 15px" readonly />
              </div>

              <div class="form-group col-md-6 form-picker">
                <label for="datepicker-end" style="font-size: 20px">End</label>
                <input id="datepicker-end" value="<%= dateTime.date.end %>" readonly />
                <input id="timepicker-end" value="<%= dateTime.time.end %>" style="margin-top: 15px" readonly />
              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <div>
            <input type="checkbox" id="listAll" value="<%= listAll %>" />
            <label for="listAll">List Details</label>
          </div>
          <div>
            <button type="submit" class="btn btn-primary" id="taRecordsQuery">Query</button>
          </div>
          <div>
            <a href="#" id="export" role='button' class="btn btn-primary">
              Save
            </a>
          </div>
          <div>
            <a href=<%= home %> role="button" class="btn btn-primary">Logout</a>
          </div>
        </div>
      </div>
    <% } %>
      <div id="dvData">
        <table style="width:80%">
          <% if (title !== 'All the TA Records')  { %>
            <caption id="queryUserId">Hello, <%= userId %></caption>
          <% } %>
            <tr>
              <!-- Headers -->
              <% if (listAll === 'true') {%>
                <th>Location/IP</th>
                <th>ID</th>
                <th>Name</th>
              <% } %>
                <th>Date</th>
              <% if (listAll === 'true') {%>
                <th>Time</th>
                <th>Event</th>
              <% } else { %>
                <th>Start Time</th>
                <th>Start Time Location</th>
                <th>End Time</th>
                <th>End Time Location</th>
              <% } %>
            </tr>
            <!-- List Details -->
          <% if (listAll === 'true') {%>
            <% for (let i = 0; i < entries.length; i++) { %>
              <tr>
                  <td>
                    <%= entries[i].location %>
                  </td>
                  <td>
                    <%= entries[i].id %>
                  </td>
                  <td>
                    <%= entries[i].nameStr %>
                  </td>
                  <td>
                    <%= entries[i].dateTime.slice(0, 10) %>
                  </td>
                  <td>
                    <%= entries[i].dateTime.slice(11, 19) %>
                  </td>
                  <td>
                    <%= entries[i].event %>
                  </td>
              </tr>
            <% } %>
          <% } else { %>
            <!-- List Less -->
            <% for (let i = 0; i < taStarts.length; i++) { %>
              <tr <% if (new Date(taEnds[i].dateTime) - new Date(taStarts[i].dateTime) < 9.5 * 60 * 60 * 1000) { %> style="color: red" <% } %> >
                <td>
                  <%= taStarts[i].dateTime.slice(0, 10) %>
                </td>
                <td>
                  <%= taStarts[i].dateTime.slice(11, 19) %>
                </td>
                <td>
                  <%= taStarts[i].location %>
                </td>
                <td>
                  <%= taEnds[i].dateTime.slice(11, 19) %>
                </td>
                <td>
                  <%= taEnds[i].location %>
                </td>
              </tr>
            <% } %>
          <% } %>
        </table>
      </div>
    <% include foot %>
    <script src='/javascripts/postQuery.js'></script>
    <script src='/javascripts/taRecords.js'></script>
    <script src='/javascripts/exportCSV.js'></script>
  </body>
</html>
